@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  font-family: var(--font-montserrat);
}

input,
textarea {
  outline: none;
  padding: 0 5px;
}
input:focus,
textarea:focus {
  background-color: #fcfcfc;
}

.add {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}
